html,
body {
  margin: 0;
  height: 100%;
  background-image: url('./images/universe-1566159_1920.jpg');
  position: relative;
}

* {
  font-family: 'Trispace', sans-serif;
  color: white;
  
}

header {
  display: flex;
  justify-content: center;

}

h1 {
  color: rgba(255, 255, 255, 0.781);
  font-size: 45px;
  user-select: none;
  text-shadow: 3px 2px rgb(0,78,117);
  font-weight: 600;
  transition: all 1s cubic-bezier(1, 1, 1, 1);
  margin-top: -80px;
  font-family: 'Newsreader';
}

#get-location-container {
  position: absolute;
  right: 2.2%;
  top: 10%;
}

.fa-map-marker-alt {
  font-size: 40px;
  color: rgb(255, 255, 255);
}

.fa-map-marker-alt:hover {
  cursor: pointer;
}


#place-container {
  position: relative;
  text-align: center;
  width: 100%;
  top: 0%;
  height: 50%;
  transition: all 2s cubic-bezier(1, 1, 1, 1);;

}

h2 {
  font-size: 35px;
  margin-bottom: 20px;
  font-family: 'Newsreader';
  color : #ff8a4f;
}

h3 {
  margin-bottom: 60px;
  font-family: 'Newsreader';
}


#temp-container {
  position: relative;
  height: 50%;
  width: 100%;
  border-radius: 20px;
  transition: all 2s cubic-bezier(1, 1, 1, 1);;
}

main {
  position: relative;
  height: 400px;
  width: 500px;
  left: 50%;
  top: 19%;
  transform: translateX(-50%);
  background-color: #BCB9C155;
  border-radius: 1%;
  transition: all 1s linear;
  padding: 20px;
  border: 1px solid #ff8a4f57;;
}

table {
  position: relative;
  height: 100px;
  width: 100px;
  bottom: 0%;
  left: 50%;
  top: 25%;
  transform: translateX(-50%);
  text-align: center;

}

th {
  font-size: 18px;
  padding: 20px;
  font-family: 'Newsreader';
}

td {
  font-size: 15px;
  font-weight: 600;
  font-family: 'Newsreader';
  
  
}

#weather-type {
  font-size: 60px;
  color: rgb(148, 148, 148);
}

#search-container {
  position: absolute;
  bottom: 110px;
  left: 50%;

  transform: translateX(-50%);
  transition: all 1s cubic-bezier(1, 1, 1, 1);
  z-index: 2;
}

.fa-search {
    color: rgb(45,151,177);
    top: 10px;
    right: -10px;
}

input {
  border: 1px solid black;
  border-radius: 2px;
  font-weight: 700;
  color: black;
  width: 100px;
}

.input-icons {
  width: 100%;
}

.icon {
  color: rgb(45,151,177);
}

.input-icons i {
  position: absolute;
}

.input-field {
  width: 100%;
  padding: 10px;
  text-align: center;
  color: #ff8a4f;
  font-weight: 900;
}


footer {
  position: absolute;
  bottom: 0;
  height: 95px;
  width: 100%;
  background-color: rgb(69, 66, 75);
  border-top: 1px solid black;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

strong {
  color: rgb(45,151,177);
  font-weight: 900;
}

#github-icon {
  color: rgb(45,151,177);
}

#github-icon:hover {
  text-decoration: underline;
}

footer > p {
  text-align: center;
  color: black;
  font-weight: 200;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(204, 204, 204, 0.158);
  -webkit-transition: .4s;
  transition: .4s;
  border: 1px solid black;
  align-self: center;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2195f39d;
}

input:focus + .slider {
  box-shadow: 0 0 1px #076ec2;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

#switch-container {
  display: inline-flex;
  position: absolute;
  top: 2%;
  right: 1%;
}

#switch-label {
align-self: center;
margin: 0 5px;

}

.hidden {
  display: none;
  visibility: hidden;
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.visually-hidden {
  opacity: 0;
}

.float-down {
  animation: floatDown 0.8s cubic-bezier(1, 1, 1, 1) forwards;
}

@keyframes floatDown {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(70px);
  }
  100% {
    transform: translateY(140px);
  }
}

@media screen and (max-width: 550px) {
  main {
    width: 300px;
    height: 300px;
    padding: 20px;
  }
  h1 {
    font-size: 27px;
  }
  #weather-type {
    font-size: 50px;
  }
  h2 {
    font-size: 35px;
    margin-bottom: 0px;
  }

  h3 {
    margin-bottom: 20px;
  }

  th {
    font-size: 14px;
    padding: 6px;
  }

  td {
    font-size: 13px;
  }
}

@media screen and (max-width: 280px) {
  main {
    width: 250px;
    height: 280px;
    padding: 10px;
  }
  h1 {
    font-size: 22px;
  }
  #weather-type {
    font-size: 40px;
  }
  h2 {
    font-size: 30px;
    margin-bottom: 0px;
  }

  h3 {
    margin-bottom: 20px;
  }

  th {
    font-size: 12px;
    padding: 2px;
  }

  td {
    font-size: 11px;
  }
}